<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facebook</title>
  <style>
    .body-container {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
      color: #333;
    }
      #headd{
        color: white;
      }
    .header-section {
      background-color: #4267B2;
      color: white;
      padding: 10px;
      text-align: center;
    }

    .navv-sectionn {
      display: flex;
      justify-content: center;
      background-color: #34495e;
      padding: 10px;
       border-bottom: 2px solid red;
    }

    #navv-linkk {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    #navv-linkk:hover {
      color: #3498db;
    }

    .user-section {
      text-align: center;
      margin-top: 20px;
    }

    #actionn-buttonn {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    #actionn-buttonn:hover {
      background-color: #2980b9;
      color: #fff;
    }

    .post-container {
      margin-top: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .post {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 45%;
      box-sizing: border-box;
      transition: border 0.3s ease;
      border-top: 2px solid red;
       border-bottom: 2px solid red;

    }

    .post:hover {
      border: 2px solid #4267B2;
    }

    .post h3 {
      color: #333;
      margin-bottom: 10px;
    }

    .post p {
      color: #555;
      margin-bottom: 15px;
    }

    .likes-section {
      margin-top: 10px;
    }
  </style>
</head>
<body class="body-container">

  <header class="header-section">
    <h1 id="headd">Facebook</h1>
  </header>

  <nav class="navv-sectionn">
    <a href="#" id="navv-linkk">Home</a>
    <a href="#" id="navv-linkk">About</a>
    <a href="#" id="navv-linkk">Contact</a>
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, id: 'navv-linkk' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'action-button' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'action-button' %>
    <% end %> 
  </nav>
  
  <div class="user-section">
    <% if user_signed_in? %>
      <h1 style="color: #4267B2;">Welcome, <%= current_user.name %></h1>
      <h2 style="color: #555;">Explore All Posts</h2>
      <%= link_to 'Create New Post', new_post_path, id: 'actionn-buttonn' %>
      <div class="post-container">
          <% @posts.each do |post| %>
          <div class="post">
            <h3><%= post.user.name %></h3>
            <p><%= post.content %></p>
            <p>Created At <%= post.user.created_at.strftime("%d-%m-%Y") %></p>
           <% if post.image.attached? %>
            <%= image_tag post.image, style: 'width: 100%; height: 250px; border-radius: 10px;' %>
          <% end %>
           <% if post.photos.attached? %>
                <% post.photos.each do |photo| %>
                  <%= image_tag photo, style: 'width: 100px;height: 90px' %>
                <% end %>
            <% end %>

            <h3 style="color: #555;">Comments ( <%= @comment_counts[post.id] || 0 %> ):</h3>
            <h3 style="color: #555;">Likes ( <%= @likes_counts[post.id] || 0 %> ):</h3>

            <%= link_to 'View Post', post_path(post), id: 'actionn-buttonn' %>
            <% if post.likes.exists?(user: current_user) %>
            <%= link_to 'Unlike Post', likes_path(post_id: post.id), method: :destroy, id: 'actionn-buttonn' %>
          <% else %>

            <%= link_to 'Like Post', likes_path(post_id: post.id), method: :create, id: 'actionn-buttonn' %>
           
          <% end %>      
          <% if post.user == current_user %>
            <%= link_to "Delete", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, id: 'actionn-buttonn' %>
          <% end %>
          </div>
          <div class="likes-section">     
         </div>
        <% end %>
      </div>
    <% else %>
      <h1 style="color: #4267B2;">Home Login</h1>
      <%= link_to 'Sign in', new_user_session_path, class: 'action-button' %>
    <% end %>
  </div>
 
</body>
</html>
